---
import { title, description } from '@consts';
import Layout from '@layouts/Layout.astro';
import { DocumentText } from '@vicons/ionicons5';
---

<Layout title={title} description={description}>
  <div
    class="col-span-3 bg-slate-200/50 rounded-tr text-slate-500 flex justify-center items-center flex-col"
  >
    <DocumentText class="w-20 mb-5" />
    <div class="text-sm">PAGE NOT FOUND</div>
  </div>
</Layout>
