---
import Layout from '@layouts/Layout.astro';
import Page from '@components/Page.astro';
import { getCollection } from 'astro:content';
import Search from '@components/Search.astro';
import Banner from '@dynamic/Banner';
import { generateExcerpt } from '@utils/index';
import { title } from '@consts';
import { banner } from '@consts';
import Sidebar from '@dynamic/Sidebar';
export const getStaticPaths = async () => {
  const posts = await getCollection('pages');
  return posts.map((post) => ({ params: { page: post.slug } }));
};
const posts = await getCollection('pages');
const { page } = Astro.params;
const pageIndex = posts.findIndex((post) => post.slug === page);
const description = generateExcerpt(posts[pageIndex].body);
---

<Layout title={posts[pageIndex].data.title + ' - ' + title} description={description}>
  <div class="col-span-2 bg-white flex flex-col dark:bg-slate-800/70">
    <Search />
    <Banner banner={banner} />
    <Page post={posts[pageIndex]} />
  </div>
  <Sidebar client:load />
</Layout>
