---
import Layout from '@layouts/Layout.astro';
import Page from '@components/Page.astro';
import { getCollection } from 'astro:content';
import Search from '@components/Search.astro';
import Banner from '@dynamic/Banner';

import { title } from '@consts';
import { banner } from '@consts';
import {
  generateExcerpt,
  getImageByPost,
} from '@utils/index';
export const prerender = true;
export const getStaticPaths = async () => {
  const posts = await getCollection('pages');
  return posts.map((post) => ({
    params: { page: post.slug },
  }));
};
const posts = await getCollection('pages');
const { page } = Astro.params;
const pageIndex = posts.findIndex(
  (post) => post.slug === page,
);
const description = generateExcerpt(posts[pageIndex].body);

const bannerData = {
  bgImageUrl: getImageByPost(posts[pageIndex].body)
    ? getImageByPost(posts[pageIndex].body)
    : banner.bgImageUrl,
  title: posts[pageIndex].data.title,
  description:
    posts[pageIndex].data.description ?? description,
};
---

<Layout
  title={posts[pageIndex].data.title + ' - ' + title}
  description={posts[pageIndex].data.description ??
    description}
>
  <div
    class="col-span-2 bg-white flex flex-col dark:bg-slate-800/70"
  >
    <div data-turbo-permanent id="search">
      <Search />
    </div>
    <div id="banner">
      <Banner banner={bannerData} client:load type="post" />
    </div>

    <div data-turn-enter>
      <Page post={posts[pageIndex]} />
    </div>
  </div>
</Layout>
