---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Search from '@components/Search.astro';
import Post from '@components/Post.astro';
import {
  generateExcerpt,
  getImageByPost,
} from '@utils/index';
import { title } from '@consts';
import Banner from '@dynamic/Banner';
import { banner } from '@consts';
export const prerender = true;
export const getStaticPaths = async () => {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { post: post.slug },
  }));
};
const posts = await getCollection('posts');
const { post } = Astro.params;
const pageIndex = posts.findIndex((i) => i.slug === post);
const description = generateExcerpt(posts[pageIndex].body);

const bannerData = {
  bgImageUrl: getImageByPost(posts[pageIndex].body)
    ? getImageByPost(posts[pageIndex].body)
    : banner.bgImageUrl,
  title: posts[pageIndex].data.title,
  description: posts[pageIndex].data.description,
};
---

<Layout
  title={posts[pageIndex].data.title + ' - ' + title}
  description={description}
>
  <div
    class="col-span-2 bg-white flex flex-col dark:bg-slate-800/70"
  >
    <div data-turbo-permanent id="search">
      <Search />
    </div>
    <div id="banner">
      <Banner banner={bannerData} type="post" client:load />
    </div>
    <div data-turn-enter data-turn-exit>
      <Post post={posts[pageIndex]} />
    </div>
  </div>
</Layout>
