---
import PostList from "@components/PostList.astro";
import { getCollection } from "astro:content";
import { title, description } from "@consts";
import Layout from "@layouts/Layout.astro";
import Search from "@components/Search.astro";
import Banner from "@components/Banner.astro";
import Raving from "@components/Raving.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
import ShotView from "@dynamic/ShotView";
import Apropos from "@dynamic/Apropos";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title={title} description={description}>
  <div class="col-span-2 bg-white flex flex-col dark:bg-slate-800/70">
    {/* Search */}
    <Search />
    {/* Banner */}
    <Banner />
    <PostList posts={posts} />
  </div>
  <div
    class="bg-gray-100 row-span-1 md:min-lg:hidden dark:bg-slate-900/75 rounded-r-lg"
  >
    <ThemeIcon />
    <Raving />
    <ShotView />
    <Apropos />
  </div>
</Layout>
