---
import PostList from '@dynamic/PostList';
import { title, description } from '@consts';
import Layout from '@layouts/Layout.astro';
import Search from '@dynamic/Search';
import Banner from '@dynamic/Banner';
import { banner } from '@consts';
import Player from '@dynamic/Player';
---

<Layout title={title} description={description}>
  <div class="col-span-2 mb-16 bg-white flex flex-col dark:bg-slate-800/70">
    <div data-turbo-permanent id="search">
      <Search />
    </div>
    <div data-turbo-permanent id="banner">
      <Banner banner={banner} client:load />
    </div>
    <div data-turn-enter>
      <PostList client:only="vue" />
    </div>
    <div data-turbo-permanent id="player">
      <Player client:only="vue" />
    </div>
  </div>
</Layout>
