---
import PostList from '@components/PostList.astro';
import { getCollection } from 'astro:content';
import { title, description } from '@consts';
import Layout from '@layouts/Layout.astro';
import Search from '@components/Search.astro';
import Banner from '@dynamic/Banner';
import Sidebar from '@dynamic/Sidebar';
import { banner } from '@consts';
const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={title} description={description}>
  <div class="col-span-2 bg-white flex flex-col dark:bg-slate-800/70">
    {/* Search */}
    <Search />
    {/* Banner */}
    <Banner banner={banner} />
    <PostList posts={posts} />
  </div>
  <Sidebar client:load />
</Layout>
