---
import { CaretForward, LocationOutline } from '@vicons/ionicons5';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import Player from './Player.astro';
import RenderContent from './RenderContent.astro';
import PhotoView from '@dynamic/PhotoView';
import Breadcrumb from '@dynamic/Breadcrumb';
interface Props {
  post: CollectionEntry<'posts'> | undefined;
}
const { post } = Astro.props;
---

<Breadcrumb title={post?.data.title} />
<div class="p-4 gap-12 grid">
  {
    post != undefined ? (
      <article>
        <div>
          <div>
            <div class="text-sm text-slate-500/80  prose-sm dark:prose-invert ">
              <RenderContent {...post} />
            </div>
            <div>
              {post.data.type === 'music' ? (
                <div class="pt-4">
                  <Player {...post.data.music} />
                </div>
              ) : null}
              {post.data.type === 'photo' ? (
                <PhotoView client:load imgList={post.data.photo} />
              ) : null}
            </div>
            <div class="text-xs text-slate-500/80 pt-4 flex items-center">
              <LocationOutline class="w-4 mr-1 text-slate-500/70" />
              {post.data.location}
            </div>
          </div>
        </div>
      </article>
    ) : null
  }
</div>
