---
import BaseHead from '@components/BaseHead.astro';
import Nav from '@dynamic/Nav';
import Sidebar from '@dynamic/Sidebar';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const url = Astro.url.pathname;
---

<html lang="zh">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="dark:bg-slate-900/95">
    <div
      class="pt-12 w-screen grid grid-cols-4 max-w-7xl m-auto min-h-screen"
    >
      {/* Navigation */}
      <Nav routerPath={url} />
      <slot />
      <div data-turbo-permanent id="sidebar">
        <Sidebar client:only="vue" />
      </div>
    </div>
    <script>
      import { spaInit } from '@utils/spa';
      spaInit();
    </script>
  </body>
</html>
